name: User-Service CI

on:
  push:
    paths:
      - "services/user-service/**"
  workflow_dispatch:
  
jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
     - name: Checkout code
       uses: actions/checkout@v4
    
     - name: Setup Node.js
       uses: actions/setup-node@v4
       with: 
        node-version: 22
        cache: npm
        cache-dependency-path: services/user-services/package-lock.json
      
     - name: Install Dependencies
       working-directory: services/user-service
       run: npm ci

     - name: Run tests
       working-directory: services/user-service
       run: |
        npm start &
         sleep 5

     - name: Health check endpoint
       run: |
          curl -f http://localhost:5000